@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
